{
  "rules": {
    "max-len": ["error", { "code": 120, "ignoreComments": true }],
    "comma-dangle": ["error", {
      "functions": "ignore"
    }],
    "no-underscore-dangle": [
      "error",
      { "allowAfterThis": true }
    ],
    "no-constant-condition": "off",
    "no-continue": "off",
    "class-methods-use-this": "off"
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": ["airbnb-base"]
}
